<p>{{login}} 你好！</p>

<p>我们收到你更改 mosh-xx 账号密码的请求</p>

<p>你可以通过下面的链接更改密码：</p>

<p>
  <a href="https://mosh-xx.vercel.app/reset-password/{{token}}">https://mosh-xx.vercel.app/reset-password/{{token}}</a>
</p>
